.navigation{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
    margin: 5px;
    padding: 10px;
}
.logo{
    margin: 10px;
}
#menu{
	float: right;
	margin-top: 15px;
	cursor: pointer;
	margin-right: 10px;
	color: #ff6600;
    transition: margin-right .5s;
}

/* The side navigation menu */
.sidenav {
    font-family: 'Lato', sans-serif;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: rgba(85, 93, 104, 0.95); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

body{
	font-family: 'Lato', sans-serif;
    color: #555;
    background: #f7f7f7;
    padding: 0px ;
    margin: 0px;
}

.header{
    font-family: 'Lato', sans-serif;
    color: #ff6600;
    
}

.header > h1{
    margin-left: 10px !important;
    text-shadow: 2px 1px black;
}

#navigation{
    cursor: pointer;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
#mySidenav > hr{
    margin-bottom: 10px;
    margin-top: 10px;
}